#inicio {
    color: rgba(26, 24, 24, 0.904);
}
#objetivo {
    color: rgba(26, 24, 24, 0.904);;
}
#formacao {
    color: rgba(26, 24, 24, 0.904);;
}
#cursos {
    color: rgba(26, 24, 24, 0.904);;
}
#exp {
    color: rgba(26, 24, 24, 0.904);;
}
 
 